<!doctype html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/bootstrap-theme.min.css">
    <script type="text/javascript" src="/static/JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/JS/jquery-3.1.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>开户成功！</title>
</head>
<body>
    <p>开户成功！</p>
    <button class="btn btn-default" onclick="location = '/'">返回首页</button>
</body>
</html>