<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/bootstrap-theme.min.css">
    <script type="text/javascript" src="/static/JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/JS/jquery-3.1.0.min.js"></script>
<head>
    <meta charset="UTF-8">


    <title>Welcome to online management system！</title>
</head>
<body>
    <div>欢迎使用无线话务营帐系统！</div>
    <button class="btn btn-default" onclick="location = '/register'">新用户注册</button>
    <button class="btn btn-default" onclick="location = '/login'">老用户登陆</button>
    <button class="btn btn-default" onclick="location = '/admin'">管理员登陆</button>
</body>
</html>