<!doctype html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/bootstrap-theme.min.css">
    <script type="text/javascript" src="/static/JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/JS/jquery-3.1.0.min.js"></script>
<style type="text/css">
.warp{ background:#eee url(/static/img/222.jpg) no-repeat left top; background-size:100% 100%;width:1366px;height:768px;    border:1px solid #ccc;}
.content { width:1366px; height:568px; margin:250px auto; padding:60px 60px;background:rgba(255, 255, 255, 0.6)!important;
filter:Alpha(opacity=60); background:#fff; /*　使用IE专属滤镜实现IE背景透明*/ }
.content p{ position:relative;} /*实现IE文字不透明*/ 
</style>
<head>
    <meta charset="UTF-8">
    <body style="margin-left: ">
    <div class="warp"></div>
    <div class="content"></div>
    <title>注册成功！</title>
</head>
<body>
    <h1>恭喜您注册成功</h1>
    <br>
    <button class="btn btn-success btn-lg" onclick="location = '/userinfo'">进入个人信息页面</button>
    <button class="btn btn-info btn-lg" onclick="location = '/'">返回首页</button>
</body>
</html>